.hero-blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../assets/blog/hero-blog-mobile.jpg);
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
  color: var(--text-secondary-color);
}

.hero-blog-content {
  padding: 40px 24px 32px;
}

.hero-blog-title {
  font-size: 48px;
  font-weight: var(--title-weight);
  line-height: 100%;
}

.divider-hero-blog {
  margin: 16px 0 32px;
}

.title-divider-tokyo {
  margin: 5.5rem 1.5rem 3.5rem;
}

.content-tokyo {
  margin-bottom: 32px;
}

.description-tokyo {
  margin-top: 24px;
}

.destination-tokyo {
  margin-top: 24px;
}

.img-tokyo-noche {
  width: 100%;
  height: 300px;
}

.caption-tokyo {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .hero-blog {
    background-image: url(../assets/blog/hero-blog-tablet.png);
    height: 620px;
  }
  .hero-blog-content {
    padding: 158px 98px;
  }

  .hero-blog-description {
    font-size: 32px;
    line-height: 150%;
  }

  .title-divider-tokyo {
    margin: 88px 84px 0;
  }

  .content-tokyo-texto {
    max-width: 648px;
    margin: 32px 60px 0;
  }

  .content-tokyo-arrival {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .content-tokyo-chegada h3,
  .content-tokyo-chegada p {
    grid-column: 1;
  }

  .tokyo-day {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-top: 0;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero-blog {
    background-image: url(../assets/blog/hero-blog-desktop.png);
    height: 650px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero-blog-content {
    width: 579px;
    padding: 209px 0 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
  }

  .content-tokyo-texto {
    max-width: 1200px;
    margin: 64px 118px 0;
  }

  .title-h3-description {
    display: flex;
    flex-direction: column;
  }
}
