/* Hero */
.hero-blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../assets/blog/hero-blog-mobile.jpg);
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
  color: var(--text-secondary-color);
}

.hero-blog-content {
  padding: 40px 24px 32px;
}

.hero-blog-title {
  font-size: 48px;
  font-weight: var(--title-weight);
  line-height: 100%;
}

.divider-hero-blog {
  margin: 16px 0 32px;
}

/* Destination Tokyo */
.title-divider-tokyo {
  margin: 5.5rem 1.5rem 3.5rem;
}

.content-tokyo {
  margin-bottom: 2rem;
}

.description-tokyo {
  margin-top: 1.5rem;
}

.destination-tokyo {
  margin-top: 1.5rem;
}

.img-tokyo-noche {
  width: 100%;
  height: 300px;
}

.caption-tokyo {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  /* Hero */
  .hero-blog {
    background-image: url(../assets/blog/hero-blog-tablet.png);
    height: 620px;
  }
  .hero-blog-content {
    padding: 9.8rem 6.1rem;
  }

  .hero-blog-description {
    font-size: 2rem;
    line-height: 150%;
  }

  /* Destination Tokyo */
  .title-divider-tokyo {
    margin: 5.5rem 5.25rem 0;
  }

  .content-tokyo-texto {
    max-width: 648px;
    margin: 2rem 3.75rem 0;
  }

  .content-tokyo-arrival {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }

  .content-tokyo-arrival h3,
  .content-tokyo-arrival p {
    grid-column: 1;
  }

  .tokyo-day {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-top: 0;
    object-fit: cover;
  }

  /* Other Destinations */
  .title-other-destinations {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Hero */
  .hero-blog {
    background-image: url(../assets/blog/hero-blog-desktop.png);
    height: 650px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero-blog-content {
    width: 579px;
    padding: 13rem 0 0;
    margin-left: 7.5rem;
    display: flex;
    flex-direction: column;
  }
  
  /* Destination Tokyo */
  .content-tokyo-texto {
    max-width: 1200px;
    margin: 4rem 7.3rem 0;
  }

  .title-h3-description {
    display: flex;
    flex-direction: column;
  }

  /* Other Destinations */
  .destinations-flex {
    display: flex;
    gap: 1.5rem;
    max-width: 1200px;
    height: 755px;
    margin: 0 auto;
  }

  .destinations-other {
    max-width: 384px;
    height: 755px;
  }
}
