.categories {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.category-card {
  height: 220px;
  background-color: var(--background-secondary-color);
  border-radius: 8px;
}

.category-card-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.category-icon {
  width: 80px;
  height: 80px;
  object-fit: contain; /* garante proporção */
}

.category-title-h3 {
  font-size: 1.75rem;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 3.75rem 5.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .categories {
    max-width: 1197px; /* valor que está no Figma */
    margin: 2rem auto 5.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
