.hero-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../assets/contact/hero-contact-mobile.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.description-form {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 0 1.5rem;
}

/* Form */
.form {
  margin: 3.5rem 1.5rem 0;
  font-size: 1.25rem;
}

.field {
  margin-bottom: 4rem;
  width: 100%;
}

label {
  display: block;
  color: var(--text-form-color);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--color-textarea-form);
  color: var(--text-form-color);
}

textarea {
  min-height: 90px;
  border-radius: 8px;
  border: 2px solid var(--color-textarea-form);
  margin-top: 0.5rem;
}

.field-textarea {
  margin-bottom: 2rem;
}

input:required:invalid {
  border-color: var(--primary-color);
}

.hero-footer-contact {
  background-image: url(../assets/contact/hero-footer-contact-mobile.png);
}

@media screen and (min-width: 768px) {
  .hero-contact {
    background-image: url(../assets/contact/hero-contact-tablet.png);
  }

  .hero-footer-contact {
    background-image: url(../assets/contact/hero-footer-contact-tablet.png);
    height: 600px;
  }

  .description-form {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    margin: 0 3.75rem;
  }

  .form {
    margin: 3.5rem 3.75rem 0;
  }

  .form a {
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .hero-contact {
    background-image: url(../assets/contact/hero-contact-desktop.png);
  }

  .hero-footer-contact {
    background-image: url(../assets/contact/hero-footer-contact-desktop.png);
  }

  .section-form {
    margin: 0 7.5rem;
  }

  .form {
    margin: 3.5rem 12.8rem 0;
  }

  .content-phone-email {
    display: flex;
    gap: 1.5rem;
  }

  .form a {
    display: block;
  }
}
