.destinations-card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.destinations-img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .destinations-card {
    margin: 0 3.75rem;
  }
  .card-button {
    max-width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .destinations-card {
    margin: 0;
  }
}
