.destinations-card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.destinations-img {
  width: 100%;
  height: auto;
  display: block;
}

.destinations-title-h3 {
  font-size: 1.75rem;
  font-weight: var(--title-weight);
}

.destinations-card-button {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-weight: var(--title-weight);
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1rem 2rem;
  color: var(--text-secondary-color);
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .destinations-card {
    margin: 0 3.75rem;
  }
  .destinations-card-button {
    max-width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations-title {
    margin: 6.5rem auto 4rem;
  }

  .destinations-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .destinations-card {
    margin: 0;
  }
}
