.hero {
  text-align: center;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-text {
  padding: 0 1.5rem;
  margin-top: 5.5rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 2rem;
    line-height: 1.5;
    padding: 0;
    margin: 5.5rem 3.75rem 0;
  }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
  .hero-text {
    margin: 6.5rem 7.5rem 0;
  }
}
