.hero-img {
  width: 100%;
  height: 400px;
  background-image: url(../assets/hero-footer-mobile.png);
  background-size: cover;
  margin-top: 88px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    background-image: url(../assets/hero-footer-tablet.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    background-image: url(../assets/hero-footer-desktop.png);
    height: 600px;
    margin-top: 104px;
  }
}
