.hero {
  text-align: center;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-text {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
  line-height: 2rem;
  padding: 0 1.5rem;
  margin: 5.5rem auto;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 2rem;
    line-height: 1.5;
    padding: 0;
    margin: 5.5rem 3.75rem;
  }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
  .hero-text {
    font-size: 2rem;
    line-height: 1.5;
    padding: 0;
    margin: 6.5rem 7.5rem;
  }
}
