.hero-packs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../assets/travelpack/banner-japao-mobile.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-packs-content {
  padding: 4rem 1.5rem;
}

.payments-h3 {
  font-size: 2.5rem;
}

.payments-h4 {
  font-size: 1.75rem;
}

.payments-photo-packs-1 {
  background-image: url(../assets/travelpack/payments-photo-packs-1.png);
}

.payments-photo-packs-2 {
  background-image: url(../assets/travelpack/payments-photo-packs-2.png);
}

.payments-photo-packs-3 {
  background-image: url(../assets/travelpack/payments-photo-packs-3.png);
}

.hero-footer-img-packs {
  background-image: url(../assets/travelpack/hero-footer-packs-mobile.png);
}

@media screen and (min-width: 768px) {
  .hero-packs {
    background-image: url(../assets/travelpack/banner-japao-tablet.png);
  }
  .hero-packs-content {
    padding: 13rem 4.3rem 6.6rem 7.5rem;
  }

  .cad-button-packs {
    display: none;
  }

  .payments-photo-packs-1 {
    background-image: url(../assets/travelpack/payments-photo-packs-tablet-1.png);
  }

  .payments-photo-packs-2 {
    background-image: url(../assets/travelpack/payments-photo-packs-tablet-2.png);
  }

  .payments-photo-packs-3 {
    background-image: url(../assets/travelpack/payments-photo-packs-tablet-3.png);
  }

  .hero-footer-img-packs {
    background-image: url(../assets/travelpack/hero-footer-packs-tablet.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero-packs {
    background-image: url(../assets/travelpack/banner-japao-desktop.png);
  }

  .hero-packs-content {
    width: 579px;
    padding: 13rem 0 0;
    margin-left: 7.5rem;
    display: flex;
    flex-direction: column;
  }

  .destinations-packs {
    display: flex;
    gap: 1.5rem;
    height: 750px;
  }

  .destinations-packs {
    max-width: 100%;
    height: auto;
  }
}
